/* Typewriter Font */
@font-face {
   font-family: 'TT2020';
   src: url('TT2020StyleD-Italic.woff2');
}

/* Layout */
body, html { height: 100%; width: 100%; margin: 0px; padding: 0px; }
.centerFlex {
   align-items: center;
   display: flex;
   justify-content: center;
   text-align: center;
   font-family: sans-serif;
}
/* Style */
.backgroundy { background-image: url(chalk_747.jpg); background-repeat: no-repeat; background-size: cover; background-position: center; }
body { background: #444044; color: #eee; }
a { color: #99ffff; }
.centerFlex h1 { font-family: TT2020, monospace; font-size: 4em; margin: 0px; font-weight: normal; }
/* non-mobile background images */
@media screen and (min-width: 1328px) {
   .backgroundy { background-image: url(chalk_1106.jpg) }
}
@media screen and (min-width: 1965px) {
   .backgroundy { background-image: url(chalk.jpg) }
}
