html, body { font-family: sans-serif; margin: auto; max-width: 1024px; color: #010101; background: #fffafa; }
body > header { border-bottom: 1.5pt dashed #757575; /* WCAG equivalent from #fefefe and #010101*/ padding: 0em 0.5em; }
header nav, header h1 { display: inline-block; }
header h1 { margin-right: 1em; font-size: 1.75em; margin-top: 0.5em; }
header ul { margin: 0px; padding: 0px; list-style: none; display: inline-block; margin-bottom: 1em; }
header li { display: inline-block; margin-right: 0.5em; }
body > footer { text-align: center; border-top: 1.5pt dashed #757575; padding-top: 1em; margin-top: 1em; }
.hr-above, article { border-top: 1.5pt dashed #757575; margin-top: 0.5em; padding-top: 0.5em; }

body > main, body > section, body > article, body > aside { padding: 0.5em; }
a { color: #AE005A; } /* WCAG AAA over #fffaf8 */
img { max-width: 100%; }

@media screen and (prefers-color-scheme: dark) {
	html, body { background: #010101; color: #fffafa; }
	a { color: #FF52AE; } /* WCAG AAA over #010101 */
}

/* Pop of Color Update (2025-12-11) */

html { background: pink; }
body { margin: 1em auto; border: 1pt solid #EA005A; border-radius: 0.5em; padding-bottom: 1em; }
body > footer, body > header, .hr-above, article { border-color: #AE005A; border-width: 1pt; }

@media screen and (prefers-color-scheme: dark) {
	html { background: #421a4f; }
	body { border-color: #ff52ae; }
	body > footer, body > header, .hr-above, article { border-color: #FF52AE; }
}

@media screen and (max-width: 1024px) {
	body { border-radius: 0em; margin: auto; }
}
