html { font-family: Helvetica, serif; background: #F2F0F4; }
body { margin: 0; }

header {
	text-align: center;
	background: rgb(66, 54, 77);
	display: block;
	padding: 1px;
	border-bottom: 2pt solid #d80073;
}
header h1 a { color: #fff; text-decoration: none; }
header h1 a:hover, header h1 a:focus, header h1 a:active {
	text-decoration: underline;
}

nav ul { margin: 0; padding: 0; list-style: none; }
nav ul li { display: inline-block; padding: 0.25em; }
nav ul li a {
	box-sizing: border-box;
	height: 6em;
	width: 6em;
	background-color: #76608a;
	vertical-align: bottom;
	display: table-cell;
	padding: 0.5em;
	color: #fefefe; 
	text-decoration: none;
	text-shadow: 1px 1px 0px #594969, 1px -1px 0px #594969, -1px 1px 0px #594969, -1px -1px 0px #594969, 0px 1px 0px #594969, 1px 0px 0px #594969, 0px -1px 0px #594969, -1px 0px 0px #594969;
}
nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
	background-color: #847098;
	color: #fff;
	text-decoration: underline;
	box-shadow: 0px 0px 0px 2px #e671b8;
}

main { max-width: 1024px; margin: auto; padding: 0.5em; }
a { color: #d80073; }
img { max-width: 100%; }

@media screen and (max-width: 41em) {
	nav ul li a { height: 4.5em; }
}
