<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UDA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% if page.title %}{{ page.title | escape }} | {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
      <link rel="stylesheet" href="/resources/refresh25.css">
   </head>
   <body class="muicontent">
      <header>
			<a href="/" id="go_home"><span style="font-weight: bold;">Renee</span><span style="font-weight: 100;">verly</span></a>
         <a href="/" style="color: white;">← Back to Main Website</a>
      </header>
      <nav class="use-tiles">
         <ul>
            {% if page.group == "edu" %}
            <li><a class="icobg leaf {% if page.index == 0 %}current{% endif %}" href="index.html">Teaching Philosophy</a></li>
            <li><a class="icobg screen-share {% if page.index == 1 %}current{% endif %}" href="artifacts.html">Teaching Artifacts</a></li>
            <li><a class="icobg blockquote {% if page.index == 2 %}current{% endif %}" href="reflections.html">Teaching Reflections</a></li>
            {% elsif page.group == "tiny-apps" %}
            <li><a class="icobg code-dots {% if page.index == 0 %}current{% endif %}" href="index.html">Index</a></li>
            <li><a class="icobg needle-thread {% if page.index == 1 %}current{% endif %}" href="circle-skirt.html">Circle Skirt Calculator</a></li>
            {% endif %}
         </ul>
      </nav>
      <article>
         <section class="content">
         {{ content }}
         </section>
      </article>
   </body>
</html>
