---
layout: default
---
<script>document.body.className = "color-{{ page.classname }}"</script>
<a class="profile" style="text-decoration: none; color: #111; padding: 5px 10px; margin: 10px;" href="/about/">&#x2BC7; Go Back to System Directory</a>
<article class="profile color-{{ page.classname }}">
	<section>
		{% if page.pfp %}<img src="/resources/profiles/{{ page.pfp }}">{% endif %}
		<h1>{{ page.title }}</h1>
		<h2>{{ page.selftitle }}</h2>
		<h3>{{ page.basics }}</h3>
		<p>{{ page.biotext }}</p>
	</section>
	<div class="social-icons">
		{% if page.twitter %}<a href="https://twitter.com/{{ page.twitter }}">Twitter</a>{% endif %}
	</div>
</article>
