<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ site.title | escape }} - {{ page.title | escape }}</title>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/resources/minimal.css">
</head>
<body>
<header>
<h1>{{ site.title | escape }}</h1>
<nav>
	<ul>
		<li><a href="{{ site.baseurl }}/">Home</a></li>
		<!--<li><a href="">Blog</a></li>-->
		<li><a class="icobg seeding" href="{{ site.baseurl }}/edu/">Teaching</a></li>
		<li><a class="icobg camera" href="{{ site.baseurl }}/art/">Art</a></li>
		<li><a class="icobg code-dots" href="{{ site.baseurl }}/tiny-apps/">Software</a></li>
		<li><a class="icobg notebook" href="{{ site.baseurl }}/notes/">Notes</a></li>
		<li><a class="icobg directions" href="{{ site.baseurl }}/more/">More</a></li>
	</ul>
</nav>
</header>
{% if page.mainless %}
{{ content }}
{% else %}
<main>
{{ content }}
</main>
{% endif %}
<footer>&copy; 2025 reneeverly</footer>
</html>
